<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Esempio 5 - Loop</title>
</head>
<body>
    <h1>Lista Prodotti</h1>

    <ul>
    <% prodotti.forEach(function(prodotto) { %>
        <li><%= prodotto %></li>
    <% }); %>
    </ul>

    <p>Totale: <%= prodotti.length %> prodotti</p>
</body>
</html>
